<div id="levelroot">
    <div id="0">
        <div class="title">0 - Beginner</div>
        Rhoncus, sed eu elementum et purus suscipit egestas adipiscing. At facilisi blandit id convallis diam netus pharetra, gravida. Egestas morbi.
    </div>
    <div id="1">
        <div class="title">1 - Trainee</div>
        Convallis sapien platea amet cras velit. Luctus ipsum pellentesque quam sem consectetur tellus diam aliquet. Enim aliquam quam porttitor.
    </div>
    <div id="2">
        <div class="title">2 - Junior</div>
        Vitae lectus egestas at auctor pellentesque lacus lectus eu malesuada. Mauris imperdiet est justo ultrices suspendisse blandit.

    </div>
    <div id="3">
        <div class="title">3 - Medior</div>
        In in dolor integer sollicitudin adipiscing. Rutrum neque convallis blandit a, vitae tincidunt purus sodales. Nec massa velit.

    </div>
    <div id="4">
        <div class="title">4 - Senior</div>
        Semper ut neque ornare integer adipiscing auctor. Euismod augue ornare massa platea blandit tortor lectus aenean arcu. Nunc ridiculus.

    </div>
    <div id="5">
        <div class="title">5 - Master</div>
        Id facilisis et gravida eu neque, gravida convallis blandit. Felis turpis bibendum venenatis volutpat neque nibh ipsum amet et facilisi id.

    </div>
    <div id="6">
        <div class="title">6 - Guru</div>
        Ullamcorper tempor imperdiet tellus ipsum vitae.

    </div>
    <div id="7">
        <div class="title">7 - Goodlike</div>
        Vitae elementum et pellentesque nisl amet, ac neque, feugiat rhoncus. Consectetur magna massa in adipiscing sodales vivamus. Quam.

    </div>
</div>
