<div class="finalroot">
    <h1 style="position: absolute; text-align: center; top: 20%; font-size: 3em;color: white; width: 60%; margin-left: 50%; transform: translate(-50%,0);">Well done!</h1>
    <h1 style="position: absolute; line-height: 1.5; text-align: center; top: 35%; font-size: 3em;color: white; width: 80%; margin-left: 50%; transform: translate(-50%,0);">The registration process is completed.</h1>
    <div>
        <button mat-button 
            class="mainpageButton"
            [ngStyle]="{'color':'white', 'background-color':'#828282'}" >
            Go to the main page
        </button>
        <button mat-button 
            class="myprofileButton"
            [ngStyle]="{'color':'white', 'background-color':'blue'}" >
            Go to my profile
    </button>
    </div>
</div>

