<div id="root">
  <span class="side" id="left">
      <app-step></app-step>
  </span>
  <span class="middle">
    <span id="main-header">
      <app-header (callArrow)="calledArrow($event)" [title]="actualTitle" [toShow]="toShow"></app-header>
    </span>
    <span id="main">
      <app-first *ngIf="toShow === 0"></app-first>
      <app-name *ngIf="toShow === 1"></app-name>
      <app-picture *ngIf="toShow === 2"></app-picture>
      <app-avatar *ngIf="toShow === 3"></app-avatar>
      <app-gender *ngIf="toShow === 4"></app-gender>
      <app-birthday *ngIf="toShow === 5"></app-birthday>
      <app-contact *ngIf="toShow === 6"></app-contact>
      <app-skills *ngIf="toShow === 7"></app-skills>
      <app-final *ngIf="toShow === 8"></app-final>
    </span>
  </span>
  <span class="side" id="right"><app-skill-level *ngIf="toShow === 7"></app-skill-level></span>
</div>