.birthdayroot{
    height: 100%;
    width: 100%;
    position: relative;
}
::ng-deep .mat-form-field{
    width: 80% !important;
    margin-left: 10%;
    margin-top: 10%;
}
::ng-deep .mat-form-field-flex{
    background-color: #333333 !important;
}
::ng-deep .mat-label, mat-label{
    color: #828282 !important; 
}
::ng-deep .mat-select-panel {
    background: #313131;
}
::ng-deep .mat-option, ::ng-deep .mat-select-value, ::ng-deep .mat-select-arrow, ::ng-deep .mat-input-element{
    color: white !important;
}
::ng-deep .mat-input-element, ::ng-deep .mat-select-value-text{
    margin-left: 3%;
}
::ng-deep .mat-form-field-underline::before {
    background-color: none !important;
}
.requiredicon{
    display: flex;
    align-items: center;
    margin-left: 10%;
    color: red;
}
.nextButton{
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 25%;
    border: 2px solid white;
    border-radius: 1em;
}
.backButton{
    position: absolute;
    left: 5%;
    bottom: 3%;
    width: 25%;
    border: 2px solid white;
    border-radius: 1em;
}